body {
    padding: 0 20px;
}

.container {
    margin: 20px auto;
    border: .5px solid grey;
    padding: 20px 0;
}

.accountTitle {
    padding: 20px 0;
    border-bottom: .3px solid grey;
}

.accountTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nameDiv,
.emailDiv,
.btnsDiv,
#errorPara {
    margin: 20px;
}

.emailDiv {
    border-bottom: .5px solid grey;
}

.updBtn button {
    background-color: #0171d3 !important;
}

#errorPara {
    color: red;
}

#successPara {
    color: green;
}

.btnsDiv {
    display: flex;
    justify-content: space-between;
}

.ProfileImgDiv {
    text-align: center;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profileImgInputDiv {
    position: absolute;
    top: 0;
}

.profileImgInputDiv input {
    display: none;
}

.profileImgInputDiv label:hover {
    cursor: pointer;
    background-color: #0000004d;
}

#profileImgLabel {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .5s;
}

.profileImg {
    width: 150px;
    border-radius: 50%;
}

.profileImgBtn {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: transparent;
    display: none;
    text-align: center;
    transition: all .5s;
}

.profileImgBtn:enabled:hover {
    color: #2c6bd8;
    border: 1px solid;
}

.profileImgBtn p {
    margin-bottom: 0;
}

@media (max-width: 380px) {
    .accountTitle {
        flex-direction: column;
    }
}