body {
    padding: 0 20px;
}
.container {
    margin: 20px auto;
    border: .5px solid grey;
    padding: 20px 0;
}

.accountTitle {
    padding: 20px 0;
    border-bottom: .3px solid grey;
}

.accountTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nameDiv, .emailDiv, .btnsDiv, #errorPara {
    margin: 20px;
}

.emailDiv {
    border-bottom: .5px solid grey;
}

.updBtn button {
    background-color: #0171d3 !important;
}

#errorPara {
    color: red;
}

#successPara {
    color: green;
}

.btnsDiv {
    display: flex;
    justify-content: space-between;
}

.ProfileImgDiv {
    text-align: center;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileImg {
    width: 150px;
    border-radius: 75px;
}

/* .profileImgBtnDiv {
    position: absolute;
    bottom: 0;
} */

.profileImgBtn {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.profileImgBtn:hover {
    color: #2c6bd8;
    border: 1px solid;
}
.profileImgBtn p {
    margin-bottom: 0;
}

@media (max-width: 380px) {
    .accountTitle {
        flex-direction: column;
    }
}